.container {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.welcomeMessage {
  grid-column: 1 / -1; /* Full width */
  text-align: center;
  background-color: #da4444;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.gridContent {
  display: grid;
  grid-template-columns: 2fr 3fr; /* Uneven columns */
  gap: 20px;
}

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.getStarted input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.getStarted button {
  padding: 10px 20px;
  color: #fff;
  background-color: #da4444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.getStarted button:hover {
  background-color: #c33;
}

.features {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.features button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #2196f3;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.features button:hover {
  background-color: #1976d2;
}

.notAuthorizedContainer {
  text-align: center;
  padding: 20px;
  background-color: #ffcccc;
  border-radius: 10px;
}

.loginLink {
  color: #da4444;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.loginLink:hover {
  color: #c33;
}
