/* Navbar.module.css */

.header {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #da4444;
  color: #fff;
  min-height: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Subtle border shadow */
  transition: all 0.3s ease-in-out; /* Smooth transitions */
}

.header:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7); /* Deeper shadow */
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logo:hover {
  color: #f1c40f; /* Highlight logo on hover */
}

.logo i {
  font-size: 2rem;
  margin-right: 8px;
}

.logo span {
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out; /* Smooth transitions */
}

.navbar li {
  margin-right: 20px;
  transition: transform 0.3s ease-in-out; /* Slight bounce effect */
}

.navbar li:hover {
  transform: scale(1.1);
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #d78989;
}

.navbar.open {
  display: block;
  animation: slideDown 0.4s ease-in-out; /* Slide down animation */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  display: flex;
  align-items: center;
}

.user {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.user:hover {
  color: #f1c40f;
}

.main a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.main a:hover {
  color: #f1c40f;
}

.menuIcon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    animation: slideDown 0.4s ease-in-out;
  }

  .navbar li {
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
  }

  .navbar li:hover {
    transform: scale(1.1);
  }

  .navbar.open {
    display: flex;
    animation: slideDown 0.4s ease-in-out;
  }

  .menuIcon {
    display: block;
  }
}
