.header{
  position:fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  z-index: 100;
  min-height: 80px;
  justify-content:space-between;
  align-items: center;
  padding: 0 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
}

header .navbar{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 10px;
  justify-content:center;
  gap: 20px;
}


header .sidebar {
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.2); 
  backdrop-filter: blur(20px);
  position: fixed;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  left: 0;
  padding-top: 30px;
  width: 200px;
  transform: translateX(-250%);
  height: 100vh;
  bottom: 0;
  transition: 0.3s ease;
  list-style-type: none;

}
header .sidebar .sideli {
  padding: 10px 0; 
  width: 100%;
  display: block; 
  text-align: center;
  transition: 0.3s ease-in-out;
}
header .sidebar .sideli:hover{
  background-color: rgb(251, 195, 185);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  transform:translateY(10px) translateZ(10px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
width: 90%;
}
.sidebar.open{
  transform: translateX(0);
}

header .navbar li{
  border: 2px solid white;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

header .navbar li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.15rem;
  color: black;
}

.logo {
  display:flex;
  align-items: center;
  text-decoration: none; 
  padding: 10px; 
}

.logo i {
  font-size: 44px;
  margin-right: 8px; 
  color: orangered;
}

.logo span {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

header .main{
  display: flex;
  gap: 10px;
}

header .main a{
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size:1.1rem;
  font-weight: 600;
}

header .main a i{
  color: black;
  font-size: 30px;
}


.menuIcon
{
    
    display: none;

}

@media(max-width : 1200px)
{
    .header{
          padding: 0 2px;
          justify-content: center;
          gap:2%;
    }
}

@media (max-width: 950px) {


    .open{
      background-color: rgb(255, 252, 252);
      backdrop-filter: blur(20px);
      position: absolute;
    }

    .menuIcon{
      display: block;
      transition: all 0.2 ease;
      background-color:var(--main-color);
      border-radius: 30%;
      margin: 0 30px;
  }
  .header {
    justify-content: center;
    padding: 10px; 
    gap: 30px; 
  }

  .header .navbar {
    display: none; 
  }

  .header .main {
    justify-content: center; 
    gap: 15px; 
  }

  .logo {
    justify-content: center; 
    padding: 5px; 
  }

  .logo span {
    font-size: 16px; 
  }

  .logo i {
    font-size: 36px; 
  }
}










